.dart_tool/
.idea/
.tooling/
.packages
.flutter-plugins
.flutter-plugins-dependencies
.metadata
build/
coverage/
*.iml
dist/
deploy/
tools/
.downloads/

backend/.env
backend/vendor/
backend/storage/*.key
backend/storage/logs/
backend/bootstrap/cache/*.php
backend/.phpunit.result.cache
